.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 30px 20px;

  .custom-button {
    position: absolute;
    top: 70%;
    opacity: 0.7;
    display: none;
    width: 80%;
  }

  &:hover {
    .image {
      opacity: 0.7;
      transform: scale(1.1);
      transition: transform 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
    .custom-button {
      opacity: 0.8;
      display: flex;
    }
  }
  .image-container {
    width: 100%;
    height: 95%;
    overflow: hidden;
  }

  .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }
  .footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10%;
    background-color: #262a28;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .collection-footer {
    width: 90%;
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    .name {
      width: 90%;
      padding: 1px;
    }

    .price {
      width: 10%;
      padding: 1px;
    }
  }
}
