.cart-dropdown {
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25%;
  height: 100%;
  overflow: hidden;
  z-index: 999;
  animation: slide-in 0.5s forwards;

  button {
    width: 80%;
    margin: 0 auto;
  }
}

.title-close-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background: linear-gradient(50deg, #37c397 0%, #015031 100%);
  // color: white;
  h1 {
    font-size: 1.5rem;
    padding: 2rem 2rem;
  }
  span {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2rem 2rem;
    cursor: pointer;
  }
}

.cart-items {
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
