.cart-icon {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  margin: 15px;

  .shopping-icon {
    width: 40px;
    height: 40px;
  }

  .item-count {
    position: absolute;
    font-size: 17px;
    font-weight: 700;
    bottom: 16px;
    pointer-events: none;
  }
}

@media screen and(max-width:400px) {
  .cart-icon {
    width: 35px;
    .item-count {
      font-size: 12px;
      bottom: 17px;
    }
  }
}
