.popup {
  width: 100%;
  height: 100%;
  //background-color: black;
  //border-radius: 30px;
  border-style: solid;
  border-width: 8px;
  border-color: rgba($color: #fffefe, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shop-div {
  width: auto;
  height: 100%;
  background: linear-gradient(50deg, #37c397 0%, #015031 100%);
}

.shop-img {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: auto;
  height: 100%;
  background-image: url(./sign-in.svg);
  background-position: 35% 95%;
  background-size: 250px;
  background-repeat: no-repeat;
  color: white;
  margin-top: 70px;
  margin-left: 30px;
  h5 {
    font-size: 2.2rem;
    width: 90%;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.3rem;
    width: 80%;
  }
}

.sign-in {
  background-color: rgb(255, 255, 255);
  flex: 1 1 60%;
  width: auto;
  height: 100%;
  padding: 30px;
}

.sign-up-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.sign-up-text-btn {
  border: none;
  border-width: 0px;
  padding: 0px;
  font-family: inherit;
  outline: none;
  background: none;
  font-size: 1.3rem;
  cursor: pointer;
}
.btn-div {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 735px), screen and (max-height: 700px) {
  .popup {
    flex-direction: column;
  }
  .shop-div {
    width: 100%;
    height: auto;
  }
  .shop-img {
    background: none;
    margin-top: 0;
    margin-left: 0;
    height: auto;
    h5 {
      width: 90%;
      margin-left: 30px;
      margin-top: 30px;
      text-align: center;
      font-size: 1.6rem;
    }
    p {
      display: none;
    }
  }
  .sign-in {
    width: 100%;
  }
  .sign-up-text {
    padding: 10px;
  }
  .sign-up-text-btn {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 430px), screen and (max-height: 700px) {
  .shop-img {
    background: none;
    margin-top: 0;
    margin-left: 0;
    height: auto;
    h5 {
      margin: 15px 0 10px;
      width: 100%;
      height: 20%;
      text-align: center;
      font-size: 1.4rem;
    }
    p {
      display: none;
    }
  }
  .sign-in {
    width: 100%;
    padding: 10px;
  }

  .sign-up-text {
    padding: 10px;
  }
  .btn-div {
    margin-top: 2rem;
  }
  .sign-up-text-btn {
    font-size: 1rem;
  }
}
