.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

.logo {
  height: 100px;
  width: 300px;
}

.options-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.option {
  padding: 10px 15px;
  font-size: 1.4rem;
  color: rgb(32, 37, 37);
  cursor: pointer;
}

.sign-in-btn {
  border: none;
  border-width: 0px;
  font-family: inherit;
  outline: none;
  background: none;
}

.user-name {
  background-color: #45927a;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 1.75rem;
  margin: 0 20px;
}
