.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  //border-bottom: 1px solid black;

  .checkout-item-container {
    width: 90%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;

    .product-container {
      flex: 1 1 40%;
      //background-color: cadetblue;
      //text-align: center;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;

      .checkout-item-image {
        //background-color: rgb(93, 57, 36);
        width: 50%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      .item-details {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 15px;
        .description {
          font-size: 1.3rem;
          display: flex;
        }
        .size {
          font-size: 1.1rem;
          padding-top: 8px;
        }
      }
      .cost {
        padding-top: 8px;
        opacity: 0;
      }
    }
    .price-container {
      flex: 1 1 20%;
      //background-color: rgb(218, 159, 125);
      text-align: center;
      font-size: 1.3rem;
    }
    .quantity-container {
      flex: 1 1 20%;
      //background-color: rgb(183, 156, 212);
      text-align: center;
      font-size: 1.3rem;
    }
    .total-container {
      flex: 1 1 20%;
      //background-color: rgb(113, 224, 113);
      text-align: center;
      font-size: 1.3rem;
    }
    .quantity-total-delete-mob {
      display: none;
    }
  }
  .delete {
    width: 22px;
    height: 22px;
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  .item {
    //border: 1px solid black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
    position: relative;
    width: 80%;
    margin: 20px auto;
    justify-content: center;
    .checkout-item-container {
      width: 70%;
      height: 300px;
      display: block;
      position: relative;

      .product-container {
        padding: 20px 0;
        justify-content: center;

        .checkout-item-image {
          width: 95%;
          background-size: contain;
        }
        .item-details {
          .cost {
            opacity: 1;
          }
        }
      }
      .price-container {
        display: none;
      }
      .quantity-container {
        display: none;
      }
      .total-container {
        display: none;
      }
      .quantity-total-delete-mob {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        .quantity-container {
          display: block;
        }
        .total-container {
          display: block;
        }
        .delete-mob {
          width: 22px;
          height: 22px;
          cursor: pointer;
        }
      }
    }

    .delete {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .item {
    .checkout-item-container {
      .quantity-total-delete-mob {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        .quantity-container {
          display: block;
        }
        .total-container {
          display: block;
        }
        .delete-mob {
          width: 22px;
          height: 22px;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .item {
    width: 98%;
    .checkout-item-container {
      width: 100%;

      .product-container {
        .checkout-item-image {
          width: 95%;
          background-size: cover;
        }
      }

      .quantity-total-delete-mob {
        .delete-mob {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
