$block: ".quantity-input";
$border: 0 solid #dbdbdb;
$border-radius: 3px;
$color--primary: #f3f3f3;
$modifier--text-color: rgb(29, 28, 28);

#{$block} {
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    background: red;
  }
}

#{$block}__modifier,
#{$block}__screen {
  user-select: none;
  outline: none;
}

#{$block}__modifier {
  padding: 0.7rem;
  width: 3rem;
  font-size: 1.2rem;
  background-color: white;
  border: 1px solid rgba(95, 95, 95, 0.555);
  text-align: center;
  text-shadow: 0 1px 0 rgba(#fff, 0.6);

  cursor: pointer;

  &:hover {
    background: #93c9b83b;
    color: darken($modifier--text-color, 20%);
  }

  &--left {
    border-radius: $border-radius 0 0 $border-radius;
  }

  &--right {
    border-radius: 0 $border-radius $border-radius 0;
  }
}

#{$block}__screen {
  width: 3rem;
  padding: 0.7rem;
  font-size: 1.2rem;
  background: $color--primary;
  border: 0;
  border-top: 1px solid rgba(95, 95, 95, 0.555);
  border-bottom: 1px solid rgba(95, 95, 95, 0.555);
  text-align: center;
}
